{"swagger":"2.0","info":{"version":"1.0.0","title":"Shodan","description":"Shodan"},"host":"api.shodan.io","basePath":"/","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/shodan/host/{ip}":{"get":{"summary":"Shodan - Get IP Information","description":"This API is used to fetch IP related information from Shodan and gives a myriad of information about the IP, it's location, open ports and other details.","operationId":"Shodan-GetIpInformation","parameters":[{"name":"ip","default":null,"in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"region_code":{"type":"string","description":"region_code"},"ip":{"type":"integer","format":"int32","description":"ip"},"postal_code":{"type":"string","description":"postal_code"},"country_code":{"type":"string","description":"country_code"},"city":{"type":"string","description":"city"},"dma_code":{"type":"string","description":"dma_code"},"last_update":{"type":"string","description":"last_update"},"latitude":{"type":"number","format":"float","description":"latitude"},"tags":{"type":"array","items":{},"description":"tags"},"area_code":{"type":"string","description":"area_code"},"country_name":{"type":"string","description":"country_name"},"hostnames":{"type":"array","items":{"type":"string"},"description":"hostnames"},"org":{"type":"string","description":"org"},"data":{"type":"array","items":{"type":"object","properties":{"_shodan":{"type":"object","properties":{"id":{"type":"string","description":"id"},"options":{"type":"object","properties":{},"description":"options"},"ptr":{"type":"boolean","description":"ptr"},"module":{"type":"string","description":"module"},"crawler":{"type":"string","description":"crawler"}},"description":"_shodan"},"hash":{"type":"integer","format":"int32","description":"hash"},"os":{"type":"string","description":"os"},"opts":{"type":"object","properties":{"raw":{"type":"string","description":"raw"}},"description":"opts"},"timestamp":{"type":"string","description":"timestamp"},"isp":{"type":"string","description":"isp"},"port":{"type":"integer","format":"int32","description":"port"},"hostnames":{"type":"array","items":{"type":"string"},"description":"hostnames"},"location":{"type":"object","properties":{"city":{"type":"string","description":"city"},"region_code":{"type":"string","description":"region_code"},"area_code":{"type":"string","description":"area_code"},"longitude":{"type":"number","format":"float","description":"longitude"},"country_code3":{"type":"string","description":"country_code3"},"country_name":{"type":"string","description":"country_name"},"postal_code":{"type":"string","description":"postal_code"},"dma_code":{"type":"string","description":"dma_code"},"country_code":{"type":"string","description":"country_code"},"latitude":{"type":"number","format":"float","description":"latitude"}},"description":"location"},"dns":{"type":"object","properties":{"resolver_hostname":{"type":"string","description":"resolver_hostname"},"recursive":{"type":"boolean","description":"recursive"},"resolver_id":{"type":"string","description":"resolver_id"},"software":{"type":"string","description":"software"}},"description":"dns"},"ip":{"type":"integer","format":"int32","description":"ip"},"domains":{"type":"array","items":{"type":"string"},"description":"domains"},"org":{"type":"string","description":"org"},"data":{"type":"string","description":"data"},"asn":{"type":"string","description":"asn"},"transport":{"type":"string","description":"transport"},"ip_str":{"type":"string","description":"ip_str"}}},"description":"data"},"asn":{"type":"string","description":"asn"},"isp":{"type":"string","description":"isp"},"longitude":{"type":"number","format":"float","description":"longitude"},"country_code3":{"type":"string","description":"country_code3"},"domains":{"type":"array","items":{"type":"string"},"description":"domains"},"ip_str":{"type":"string","description":"ip_str"},"os":{"type":"string","description":"os"},"ports":{"type":"array","items":{"type":"integer","format":"int32"},"description":"ports"}}}}}}},"/shodan/host/count":{"get":{"summary":"Shodan - Search without results","description":"This method behaves identical to \"/shodan/host/search\" with the only difference that this method does not return any host results, it only returns the total number of results that matched the query and any facet information that was requested. As a result this method does not consume query credits.","operationId":"Shodan-SearchWithoutResults","parameters":[{"name":"query","default":"port:22","in":"query","type":"string","required":true},{"name":"facets","default":"org,os","in":"query","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"matches":{"type":"array","items":{},"description":"matches"},"facets":{"type":"object","properties":{"org":{"type":"array","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"count"},"value":{"type":"string","description":"value"}}},"description":"org"},"os":{"type":"array","items":{"type":"object","properties":{"count":{"type":"integer","format":"int32","description":"count"},"value":{"type":"string","description":"value"}}},"description":"os"}},"description":"facets"},"total":{"type":"integer","format":"int32","description":"total"}}}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"api_key":{"type":"apiKey","in":"query","name":"key"}},"security":[],"tags":[]}