{"swagger":"2.0","info":{"version":"1.0.0","title":"AbuseIPDB","description":"AbuseIPDB is a project dedicated to helping combat the spread of hackers, spammers, and abusive activity on the internet. One can check the report history of any IP address to see if anyone else has reported malicious activities. One can report abusive IPs engaging in hacking attempts or other malicious behavior and help fellow sysadmins! \n\nUrl: https://www.abuseipdb.com/"},"host":"api.abuseipdb.com","basePath":"/","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/api/v2/check":{"get":{"summary":"AbuseIPDB - Check IP Reputation","description":"The check endpoint accepts a single IP address (v4 or v6). Optionally you may set the maxAgeInDays parameter to only return reports within the last x amount of days.\n\nThe desired data is stored in the data property. Here you can inspect details regarding the IP address queried, such as version, country of origin, usage type, ISP, and domain name. And of course, there is the valuable abusive report.","operationId":"Abuseipdb-CheckIpReputation","parameters":[{"name":"ipAddress","default":"8.8.8.8","in":"query","type":"string","required":true},{"name":"maxAgeInDays","default":"90","in":"query","type":"string","required":true},{"name":"verbose","in":"query","type":"string","required":false}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"ipAddress":{"type":"string","description":"ipAddress"},"isPublic":{"type":"boolean","description":"isPublic"},"ipVersion":{"type":"integer","format":"int32","description":"ipVersion"},"isWhitelisted":{"type":"boolean","description":"isWhitelisted"},"abuseConfidenceScore":{"type":"integer","format":"int32","description":"abuseConfidenceScore"},"countryCode":{"type":"string","description":"countryCode"},"usageType":{"type":"string","description":"usageType"},"isp":{"type":"string","description":"isp"},"domain":{"type":"string","description":"domain"},"hostnames":{"type":"array","items":{"type":"string"},"description":"hostnames"},"countryName":{"type":"string","description":"countryName"},"totalReports":{"type":"integer","format":"int32","description":"totalReports"},"numDistinctUsers":{"type":"integer","format":"int32","description":"numDistinctUsers"},"lastReportedAt":{"type":"string","description":"lastReportedAt"},"reports":{"type":"array","items":{"type":"object","properties":{"reportedAt":{"type":"string","description":"reportedAt"},"comment":{"type":"string","description":"comment"},"categories":{"type":"array","items":{"type":"integer","format":"int32"},"description":"categories"},"reporterId":{"type":"integer","format":"int32","description":"reporterId"},"reporterCountryCode":{"type":"string","description":"reporterCountryCode"},"reporterCountryName":{"type":"string","description":"reporterCountryName"}}},"description":"reports"}},"description":"data"}}}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"api_key":{"type":"apiKey","in":"header","name":"key"}},"security":[],"tags":[]}