{"swagger":"2.0","info":{"version":"1.0.0","title":"IPVoid","description":"IPVoid"},"host":"endpoint.apivoid.com","basePath":"/","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/iprep/v1/pay-as-you-go/":{"get":{"summary":"IP Reputation API","description":"IP Reputation API","operationId":"IpReputationApi","parameters":[{"name":"ip","default":"122.226.181.165","in":"query","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"data":{"type":"object","properties":{"report":{"type":"object","properties":{"ip":{"type":"string","description":"ip"},"blacklists":{"type":"object","properties":{"engines":{"type":"object","description":"engines"},"detections":{"type":"integer","format":"int32","description":"detections"},"engines_count":{"type":"integer","format":"int32","description":"engines_count"},"detection_rate":{"type":"string","description":"detection_rate"},"scantime":{"type":"string","description":"scantime"}},"description":"blacklists"},"information":{"type":"object","properties":{"reverse_dns":{"type":"string","description":"reverse_dns"},"continent_code":{"type":"string","description":"continent_code"},"continent_name":{"type":"string","description":"continent_name"},"country_code":{"type":"string","description":"country_code"},"country_name":{"type":"string","description":"country_name"},"country_currency":{"type":"string","description":"country_currency"},"country_calling_code":{"type":"string","description":"country_calling_code"},"region_name":{"type":"string","description":"region_name"},"city_name":{"type":"string","description":"city_name"},"latitude":{"type":"number","format":"float","description":"latitude"},"longitude":{"type":"number","format":"float","description":"longitude"},"isp":{"type":"string","description":"isp"},"asn":{"type":"string","description":"asn"}},"description":"information"},"anonymity":{"type":"object","properties":{"is_proxy":{"type":"boolean","description":"is_proxy"},"is_webproxy":{"type":"boolean","description":"is_webproxy"},"is_vpn":{"type":"boolean","description":"is_vpn"},"is_hosting":{"type":"boolean","description":"is_hosting"},"is_tor":{"type":"boolean","description":"is_tor"}},"description":"anonymity"},"risk_score":{"type":"object","properties":{"result":{"type":"integer","format":"int32","description":"result"}},"description":"risk_score"}},"description":"report"}},"description":"data"},"credits_remained":{"type":"number","format":"float","description":"credits_remained"},"estimated_queries":{"type":"string","description":"estimated_queries"},"elapsed_time":{"type":"string","description":"elapsed_time"},"success":{"type":"boolean","description":"success"}}}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"API Key":{"type":"apiKey","in":"query","name":"key"}},"security":[{"API Key":[]}],"tags":[]}